.notFound__header {
    margin: 0 0 5px 0;
    padding: 188px 0 0 0;


    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    font-size: 140px;
    line-height: 169px;
    text-align: center;

    color: #ffffff;
}