.student__header {
    font-size: 50px;
    font-family: Inter;
    font-weight: 400;
    line-height: 58px;
    margin: 0;
}

@media screen and (max-width: 768px) {
    .student__header {
        
        line-height: 40px;
        
    }
}


@media screen and (max-width: 400px) {
    .student__header {
        
        font-size: 30px;
        line-height: 36px;
        
    }
}