.about__time_passed {
    background-color: #3DDC84;
    color: #000000;
    text-align: center;
    padding: 9px 0 9px 0;
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
}


@media screen and (max-width: 400px) {
    .about__time_passed {
        font-size: 11px;
        line-height: 13px;
        padding: 12px 0 10px 0;
    }
}