.account__item{
    display: flex;
    width: 410px;
    justify-content: space-between;
    padding-bottom: 17px;
    margin-bottom: 18px; 
}


@media screen and  (max-width:410px) {
    .account__item{
        max-width: calc(100vw - 60px);
    }
};