.footer__header {
    text-align: center;
    color: #8B8B8B;
    font-size: 13px;
    font-family: Inter;
    font-weight: 400;
    width: 100%;
    margin: 0;
    padding: 0 0 20px 0;
    border-bottom: 1px solid #424242;
}


@media screen and (max-width: 400px) {
    .footer__header {
        font-size: 12px;
        line-height: 15px;
    }
}