.hero__img{
    padding: 102px 0 60px 0;
    max-width: 1280px;
    align-self: flex-end;
}

@media screen and (max-width: 1150px) {
    .hero__img{
        padding: 139px 0px 60px 0px; 
        max-width: 680px;
        align-self: center;

    }
}


@media screen and (max-width: 768px) {
    .hero__img{
        padding: 139px 0px 0px 0px; 
    }
}

@media screen and (max-width: 600px) {
    .hero__img{
        padding: 59px 0px 40px 0px; 
      
    }
}