.about__header {
    border-bottom: 1px solid #FFFF;
    margin: 110px 0 0 0;
    padding: 0 0 23px 0;
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: -0.04em;
    color: #ffffff;
}





@media screen and (max-width: 768px) {
    .about__header {
        margin: 91px 0 0 0;

    }
}

@media screen and (max-width: 400px) {
    .about__header {
        margin: 71px 0 0 0;
        font-size: 18px;
        line-height: 22px;
        padding: 0 0 28px 0;

    }
}