.student__name {
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: -0.04em;
    border-bottom: 1px solid #FFFF;
    padding: 0 0 23px 0;
    margin: 110px 0 0 0;
}


@media screen and (max-width: 768px) {
    .student__name{
        margin: 0 0 0 0 ;
        padding: 0 0 22px 0;
    }
    
}


@media  screen and (max-width: 400px) {
    .student__name{
        font-size: 18px;
        line-height: 22px;
        padding: 0 0 28px 0;
    }
}