.about{
    color: #FFFF;
    display: flex;
    flex-direction: column;
          padding: 91px 50px 0 50px;
    max-width: calc(100vw - 100px);
    width: 100%;
}






@media  screen and (max-width: 768px) {
    .about{
        padding: 0;
        max-width: calc(100vw - 100px);
    }
}

@media  screen and (max-width: 400px) {
    .about{
        padding: 0;
        max-width: calc(100vw - 33px);
    }
}