.login__input {
    padding: 5px 0 11px 0;
    margin: 0 0 25px 0;
    color: white;
    font-size: 14px;
    font-family: Inter;
    font-weight: 500;
    border: 0;
    background-color:  #20202000;
    border-bottom: 1px solid  #424242;
}