.student__subtitle {
    font-size: 18px;
    font-family: Inter;
    font-weight: 500;
    line-height: 20px;
    margin: 18px 0 0 0;
}

@media screen and (max-width: 768px) {
    .student__subtitle {
        font-size: 12px;
        line-height: 18px;
        margin: 16px 0 0 0;
    }
}


@media screen and (max-width: 400px) {
    .student__subtitle {
        margin: 19px 0 0 0;
    }
}