.search__button {
    color: white;
    font-size: 11px;
    font-family: Inter;
    font-weight: 500;
    line-height: 18px;
    background: #4285F4;
    border-radius: 48px;
    box-shadow: none;
    border: none;
    width: 58.65px; 
    height: 34px;
    margin:  0 30px 0 0;
}


@media screen and (max-width: 768px) {
    .search__button{
        margin: 0 19px 0 0
    }
}