.about__time_signature {
    text-align: center;
    color: #8B8B8B;
    margin-top: 15px;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
}

@media screen and (max-width: 400px) {
    .about__time_signature {
        margin-top: 10px;
        font-weight: 400;
        font-size: 11px;
        line-height: 14px;

    }
} 