.switch {
    display: inline-block;
    border-left: 1px solid #424242;
    padding: 0 0 0 27px;
  }
  
  .switch__input {
    display: none;
  }
  
  .switch__input:checked + .switch__slider {
    background-color: #2be080;
  }
  
  .switch__slider {
    padding: 1px;
    background-color: #343434;
    cursor: pointer;
    display: block;
    width: 36px;
    height: 20px; /* высота переключателя */
    border-radius: 34px; /* закругление углов */
    transition: background-color 0.4s;
  }



  .switch__slider:before {
    content: "";
    display: block;
    width: 15px;
    height: 15px;
    margin: 2px 0px 0 18.5px;
    background-color: #2BE080;
    border: 1px solid #ffffff ;
    border-radius: 50%;
    transition: transform 0.6s;
  }

  .switch__input:checked + .switch__slider:before {
    transform: translateX(-18px); 
    background-color: #ffffff;/* смещение ползунка при активации */
  }


  @media screen and (max-width: 768px) {
    .switch{
      padding: 0px 0 0 18px;
    }  
    
    .switch__slider{
      
        width: 36px; /* ширина переключателя */
        height: 20px;
      }


      .switch__slider:before{
      
        width: 16px; /* ширина переключателя */
        height: 16px;
        margin: 1px 0px 4px 4px;
      }

      
  .switch__input:checked + .switch__slider:before {
    transform: translateX(-16px); 
    }
  }
  

  

  