.search__short {
    color: white;
    font-size: 13px;
    font-family: Inter;
    font-weight: 400;
    line-height: 18px;
    margin: 27px 30px 27px 14px;
    align-self: flex-end;
}


@media screen and (max-width: 768px) {
    .search__short{
        margin: 27px 20px 27px 14px;
    }
    
}